.flag {
  width: 100px;
  height: auto;
}

.details {
  text-align: center;
}

.details-main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 40px auto 20px auto;
}

.details-div {
  margin: 10px auto;
  padding: 5px;
  float: right;
  width: 100vw;
  background-color: rgb(81, 81, 228);
}

.detail {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.odd {
  background-color: rgb(44, 44, 185);
}